<div id="i-page" class="page page2 ">
    <div class="page-block" id="page-block-qdgliyzvy3k">
        <div class="color-overlay"></div>
        <div class="border-holder">
            <div class="block-inner">
                <div class="page-element widget-container page-element-type-button widget-button "
                     id="element-636" >

                    <div class="conversion_wrapper">
                        <a href="https://shr.link/wri9g"
                           style="width: 348px; height: 60px;"
                           target="_blank" data-wid="636">
                            <div class="btn submit-button button_submit dynamic-button">
                                UUENDA CV-d
                            </div>
                        </a>
                    </div>
                </div>

                <div class="page-element widget-container page-element-type-image widget-image "
                     id="element-637" >

                    <div class="contents">
                        <img src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892814-39998166-45x44-tausta-ikoonid-01.png"
                             style="margin-top: 0px;"
                             alt="" />

                    </div>
                </div>

                <div
                        class="page-element widget-container page-element-type-headline widget-headline "
                        id="element-639"
                >


                    <div class="contents">
                        <h1><p style="text-align: left;  "><font color="#ffffff">CV.ee</font></p></h1>
                    </div>
                </div>

                <div
                        class="page-element widget-container page-element-type-headline widget-headline "
                        id="element-635"
                >


                    <div class="contents">
                        <h1><p style="text-align: center;  "><font color="#ffffff">Oled tõeline </font><font
                                color="#f8cc6c">kuldsüda</font><font color="#ffffff">!&nbsp;</font></p>
                            <p style="text-align: center;  "><font color="#ffffff"><br></font></p>
                            <p style="text-align: center;  "><font color="#ffffff">Soovitame Sul ennast teha tööturul
                                nähtavaks - lisa või värskenda enda CV-d ning osaled veel ühe ütlemata ägeda auhinna
                                loosimises!&nbsp;</font></p>
                            <p style="text-align: center;  "><font color="#244999"><br></font></p>
                            <p style="text-align: center;  "><font color="#244999"><br></font></p></h1>
                    </div>
                </div>

                <div
                        class="page-element widget-container page-element-type-image widget-image "
                        id="element-640"
                >


                    <div class="contents">
                        <img
                                src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892814-39998166-24x24-tausta-ikoonid-01.png"
                                style="margin-top: 0px;"
                                alt=""
                        />

                    </div>
                </div>

                <div
                        class="page-element widget-container page-element-type-image widget-image "
                        id="element-641"
                >


                    <div class="contents">
                        <img
                                src="//v.fastcdn.co/u/13b0c588/39998586-0-source.gif"
                                style="margin-top: 0px;"
                                alt=""
                        />

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="page-block" id="page-block-ssj30b9bu2i">
        <div class="color-overlay"></div>
        <div class="border-holder">
            <div class="block-inner">
                <div class="page-element widget-container page-element-type-button widget-button "
                     id="element-642" >

                    <div class="conversion_wrapper">
                        <a href=""
                           style="width: 352px; height: 60px;"
                           data-wid="642" >
                            <div class="btn submit-button button_submit dynamic-button">
                                TUNNUSTA
                            </div>
                        </a>
                    </div>
                </div>

                <div class="page-element widget-container page-element-type-headline widget-headline "
                     id="element-643" >

                    <div class="contents">
                        <h1>
                            <p style="text-align: center;  "><font color="#ac7f35">Tunnusta järgmist inimest!
                            <br></font></p>
                            <p style="text-align: center;  "><font color="#244999"><br></font></p>
                            <p style="text-align: center;  "><font color="#244999"><br></font></p>
                        </h1>
                    </div>
                </div>

                <div class="page-element widget-container page-element-type-image widget-image "
                     id="element-644" >

                    <div class="contents">
                        <img src="//v.fastcdn.co/u/13b0c588/39998586-0-source.gif"
                             style="margin-top: 0px;"
                             alt="" />

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="page-block" id="page-block-0jr38n9cmc2f">
        <div class="color-overlay"></div>
        <div class="border-holder">
            <div class="block-inner">
                <div class="page-element widget-container page-element-type-text widget-text "
                     id="element-645">

                    <div class="contents"><p style="text-align: center;  "><font color="#999999">Copyright © CV.ee 2019</font></p></div>
                </div>

                <div class="page-element widget-container page-element-type-image widget-image "
                     id="element-646">

                    <div class="contents">
                        <img src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892823-27105322-68x28-CV-logo-01.png"
                             style="margin-top: 0px;"
                             alt="" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>