<div id="i-page" class="page page2">
    <div class="notification">
        <div class="notification-overlay"></div>
        <div class="notification-inner">
            <img rel="//v.fastcdn.co/a/img/loading_circle.svg" src="" class="loading notification-loader" alt=""/>
            <span class="message"></span>
        </div>
    </div>

    <div class="page-block" id="page_block_header">
        <div class="color-overlay"></div>
        <div class="border-holder">
            <div class="block-inner">
                <div class="page-element widget-container page-element-type-headline widget-headline "
                     id="element-67" >

                    <div class="contents">
                        <h1>
                            <p style="text-align: left;  "><font color="#ac7f35">Наградите хорошего коллегу&nbsp;</font><font color="#ac7f35">
							или яркую личность “Золотым сердцем”&nbsp;</font><font
                                color="#ac7f35">и выиграйте </font><u
                                style="background-color: transparent; font-style: inherit; font-weight: inherit; color: rgb(172, 127, 53);">iPad</u><font
                                color="#ac7f35">!</font></p>
                            <p style="text-align: center;  "><font color="#244999"><br></font></p>
                        </h1>
                    </div>
                </div>

                <div class="page-element widget-container page-element-type-button widget-button "
                     id="element-569" >

                    <div class="conversion_wrapper">
                        <div id="1" class="btn submit-button button_submit dynamic-button forwardButton"><p class="insta-tunnusta">НАГРАДИТЬ</p></div>
                    </div>
                </div>

                <div class="page-element widget-container page-element-type-image widget-image "
                     id="element-598" >

                    <div class="contents">
                        <img src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892820-39998176-136x136-tausta-ikoonid-04.png"
                             style="margin-top: 0px;"
                             alt="" />
                    </div>
                </div>

                <div class="page-element widget-container page-element-type-image widget-image "
                     id="element-600" >

                    <div class="contents">
                        <img src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892821-39998146-136x140-tausta-ikoonid-06.png"
                             style="margin-top: 0px;"
                             alt="" />

                    </div>
                </div>

                <div class="page-element widget-container page-element-type-image widget-image "
                     id="element-608">

                    <div class="contents">
                        <img
                                src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892823-39998151-460x460-tausta-ikoonid-03.png"
                                style="margin-top: 0px;"
                                alt=""
                        />

                    </div>
                </div>

                <div
                        class="page-element widget-container page-element-type-image widget-image "
                        id="element-610"
                >


                    <div class="contents">
                        <img
                                src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892826-39998166-140x140-tausta-ikoonid-01.png"
                                style="margin-top: 0px;"
                                alt=""
                        />

                    </div>
                </div>

                <div
                        class="page-element widget-container page-element-type-image widget-image "
                        id="element-615"
                >


                    <div class="contents">
                        <img
                                src="//v.fastcdn.co/u/13b0c588/39998586-0-source.gif"
                                style="margin-top: 0px;"
                                alt=""
                        />

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="page-block" id="page-block-13u0o1qmiunn">
        <div class="color-overlay"></div>
        <div class="border-holder">
            <div class="block-inner">
                <div
                        class="page-element widget-container page-element-type-headline widget-headline "
                        id="element-581"
                >


                    <div class="contents">
                        <h1><p style="text-align: left;  "><font color="#ac7f35">Призы</font></p></h1>
                    </div>
                </div>

                <div
                        class="page-element widget-container page-element-type-text widget-text "
                        id="element-591"
                >

                    <div class="contents"><p style="text-align: left;  "><font color="#ac7f35" style="">
					CV.ee разыгрывает среди всех, кто наградил кого-либо “Золотым сердцем”, 
					iPad, наушники и много других призов. Наградите друзей и выиграйте!&nbsp;</font></p>
                        <p style="text-align: left;  "><font color="#494949"><br><br></font></p>
                        <p style="text-align: center;  "><br></p></div>
                </div>

                <div
                        class="page-element widget-container page-element-type-image widget-image "
                        id="element-592"
                >


                    <div class="contents">
                        <img
                                src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892815-39997506-519x404-Apple-MPGW2PPA-2e6d2.png"
                                style="margin-top: 0px;"
                                alt=""
                        />

                    </div>
                </div>

                <div class="page-element widget-container page-element-type-button widget-button "
                     id="element-596" >

                    <div class="conversion_wrapper">
                        <div id="1" class="btn submit-button button_submit dynamic-button forwardButton"><p class="insta-tunnusta">НАГРАДИТЬ</p></div>
                    </div>
                </div>

                <div class="page-element widget-container page-element-type-image widget-image "
                     id="element-597">

                    <div class="contents">
                        <img
                                src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892818-39997541-304x304-gold-V2.png"
                                style="margin-top: 0px;"
                                alt=""
                        />

                    </div>
                </div>

                <div
                        class="page-element widget-container page-element-type-image widget-image "
                        id="element-605"
                >


                    <div class="contents">
                        <img
                                src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892822-39998131-136x140-tausta-ikoonid-10.png"
                                style="margin-top: 0px;"
                                alt=""
                        />

                    </div>
                </div>

                <div
                        class="page-element widget-container page-element-type-image widget-image "
                        id="element-612"
                >


                    <div class="contents">
                        <img src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892827-39998451-180x180-tausta-ikoonid-09.png"
                             style="margin-top: 0px;"
                             alt="" />

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="page-block" id="page-block-vn891qpygff">
        <div class="color-overlay"></div>
        <div class="border-holder">
            <div class="block-inner">
                <div class="page-element widget-container page-element-type-timer widget-timer "
                     id="element-620" >

                    <div id="timer-widget-620" class="widget-container widget-timer">
                        <div class="timer no-labels eng ">
                            <div class="timer-labels">
                                <div class="timer-label first-label">DAYS</div>
                                <div class="timer-label">HOURS</div>
                                <div class="timer-label">MINUTES</div>
                                <div class="timer-label">SECONDS</div>
                            </div>
                            <div class="days timer-box">
                                <span class="timer-values"></span>
                            </div>
                            <div class="colon">
                                <div class="colon-top"></div>
                                <div class="colon-bottom"></div>
                            </div>
                            <div class="hours timer-box">
                                <span class="timer-values"></span>
                            </div>
                            <div class="colon">
                                <div class="colon-top"></div>
                                <div class="colon-bottom"></div>
                            </div>
                            <div class="minutes timer-box">
                                <span class="timer-values"></span>
                            </div>
                            <div class="colon">
                                <div class="colon-top"></div>
                                <div class="colon-bottom"></div>
                            </div>
                            <div class="seconds timer-box">
                                <span class="timer-values"></span>
                            </div>
                        </div>
                    </div>
                    {% put scripts %}
                    <script type="text/javascript">
                        $(document).ready(function () {
                            countDown();
                            var countdown = setInterval(countDown, 1000);

                            function countDown() {
                                var future = moment('2019-03-14T17:00:00.000Z');
                                var now = moment();

                                var _widget = document.getElementById('timer-widget-' + '620');

                                var days_elem = _widget.getElementsByClassName('days')[0].getElementsByTagName('span')[0];
                                var hours_elem = _widget.getElementsByClassName('hours')[0].getElementsByTagName('span')[0];
                                var minutes_elem = _widget.getElementsByClassName('minutes')[0].getElementsByTagName('span')[0];
                                var seconds_elem = _widget.getElementsByClassName('seconds')[0].getElementsByTagName('span')[0];
                                var delta = Math.abs(future - now) / 1000;
                                var days = 0;
                                var hours = 0;
                                var minutes = 0;
                                var seconds = 0;

                                if (future - now <= 0) {
                                    clearInterval(countdown);
                                } else {
                                    days = Math.floor(delta / 86400);
                                    delta -= days * 86400;

                                    hours = Math.floor(delta / 3600) % 24;
                                    delta -= hours * 3600;

                                    minutes = Math.floor(delta / 60) % 60;
                                    delta -= minutes * 60;

                                    seconds = Math.floor(delta % 60);
                                }
                                days_elem.innerHTML = formatDigits(days, 2);
                                hours_elem.innerHTML = formatDigits(hours, 2);
                                minutes_elem.innerHTML = formatDigits(minutes, 2);
                                seconds_elem.innerHTML = formatDigits(seconds, 2);

                                function formatDigits(value, digits_number) {
                                    if (value.toString().length < digits_number) {
                                        return (new Array(digits_number - value.toString().length + 1).join('0')) + value;
                                    } else {
                                        return value;
                                    }
                                }
                            }
                        });
                    </script>
                    {% endput %}
                </div>

                <div
                        class="page-element widget-container page-element-type-text widget-text "
                        id="element-622"
                >

                    <div class="contents"><p style="text-align: center;  "><font color="#ac7f35">Дней</font></p></div>
                </div>

                <div
                        class="page-element widget-container page-element-type-text widget-text "
                        id="element-623"
                >

                    <div class="contents"><p style="text-align: center;  "><font color="#ac7f35">Часов</font></p></div>
                </div>

                <div
                        class="page-element widget-container page-element-type-text widget-text "
                        id="element-624"
                >

                    <div class="contents"><p style=" "></p>
                        <p style="text-align: center;  "><font color="#ac7f35">минут</font></p></div>
                </div>

                <div
                        class="page-element widget-container page-element-type-text widget-text "
                        id="element-625"
                >

                    <div class="contents"><p style="text-align: center;  "><font color="#ac7f35">Секунд</font></p>
                    </div>
                </div>

                <div
                        class="page-element widget-container page-element-type-image widget-image "
                        id="element-630"
                >


                    <div class="contents">
                        <img
                                src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892828-39998136-148x148-tausta-ikoonid-08.png"
                                style="margin-top: 0px;"
                                alt=""
                        />

                    </div>
                </div>

                <div
                        class="page-element widget-container page-element-type-text widget-text "
                        id="element-631"
                >

                    <div class="contents"><p style="text-align: center;  "><font color="#ac7f35">До конца розыгрыша осталось:</font></p></div>
                </div>

            </div>
        </div>
    </div>

    <div class="page-block" id="page-block-tw1x0anxsy">
        <div class="color-overlay"></div>
        <div class="border-holder">
            <div class="block-inner">
                <div
                    class="page-element widget-container page-element-type-text widget-text "
                    id="element-618"
                >

                <div class="contents"><p style="text-align: center;  "><font color="#999999">Copyright © CV.ee
                    2019</font></p></div>
                </div>

                <div
                    class="page-element widget-container page-element-type-image widget-image "
                    id="element-647"
                >


                    <div class="contents">
                        <img
                            src="//v.fastcdn.co/t/13b0c588/7f23b455/1549892829-40032076-69x29-cv-est-logo-cv.ee-ho.png"
                            style="margin-top: 0px;"
                            alt=""
                        />

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>