title = "home"
url = "/ru"
layout = "default"
description = "kuldsuda home russian"
is_hidden = 0
==
use Cms\Classes\Theme;

function onStart() {
    $theme = Theme::getActiveTheme();
    $files_lobus = [];
    $files_elegantne = [];
    $count_lobus = 0;
    $count_elegant = 0;
    $di = new \RecursiveDirectoryIterator($theme->getActiveTheme()->getPath() . '/assets/images/tunnustused_elegantne_ru');
    $dil = new \RecursiveDirectoryIterator($theme->getActiveTheme()->getPath() . '/assets/images/tunnustused_lobus_ru');

    foreach (new \RecursiveIteratorIterator($di) as $filename => $file) {
        if ($file->getFilename() == "." OR $file->getFilename() == "..")
            continue;
        $files_elegantne[] = str_replace($theme->getActiveTheme()->getPath(), '', $filename);
        $count_elegant++;
    }

    foreach (new \RecursiveIteratorIterator($dil) as $filename => $file) {
        if ($file->getFilename() == "." OR $file->getFilename() == "..")
            continue;
        $files_lobus[] = str_replace($theme->getActiveTheme()->getPath(), '', $filename);
        $count_lobus++;
    }

    $this['files_elegantne'] = $files_elegantne;
    $this['files_lobus'] = $files_lobus;
    $this['count_elegant'] = $count_elegant;
    $this['count_lobus'] = $count_lobus;
}
==
<div id="languageElem" style="display:none;" value="ru"></div>
<div class="slideshow-container col-12">

    <div class="mySlides ">
        <div class="slideTitle" align="center">
            <img class="bannerElement" src="{{ '/assets/images/kuldsuda_logo-01_RU.svg'|theme }}" alt="Logo" />
            <!--
            <img class="slideTitleElement companyLogo" src="./photos/cv_logo-01.png" alt="Logo" />
            <p class="slideTitleElement companyElement">CV.ee</p>
            <p class="slideTitleElement activityElement">#tunnustakolleegi</p>
            -->
        </div>
        <div class="actionLine" align="center"><p>Награди коллегу или образец подражания!</p></div>
        <div class="informationLine" align="center">
            <div>
                <p>
                    Оскары вручаются раз в год, лучший работодатели тоже награждены, а золотое сердце можно вручить в
                    любой момент, когда захочется. <mark class="textMarker">Найди 3 минуты</mark> и награди коллегу золотым сердцем! Выбери подходящий
                    титул и отправь коллеге на электронную почту или на стену в <mark class="textMarker">Facebook’е</mark>.
                </p>
                <p class="examplesText">
                    Посмотри разные примеры
                </p>
            </div>
        </div>
        <div class="photoSection" align="center">
            <div id="carouselSection" class="carousel slide carouselContent exampleCarousel" data-ride="carousel" data-interval="false" style="display: none;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="imageContainer">
                            <img id="" class="imageContainer" src="{{ '/assets/images/tunnustus_n2idis_1_RU.png'|theme }}" alt="picture" class="img-responsive"/>
                        </div>
                    </div>
                </div>
                <p class="carousel-control-prev example-control-prev" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </p>
                <p class="carousel-control-next example-control-next" href="" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </p>
            </div>
        </div>
        <div class="photoSection compSection" align="center">
            <img class="imageContainer" src="{{ '/assests/images/1200x628px_imago_uus_loos_RU-01.svg'|theme }}" alt="" />
        </div>
        <div class="buttonDiv">
            <button id="1" type="button" class="forwardButton">Alustan</button>
        </div>
    </div>

    <div class="mySlides ">
        <div class="slideTitle" align="center">
            <img class="bannerElement" src="{{ '/assets/images/kuldsuda_logo-01.svg'|theme }}" alt="Logo" />
            <!--
            <img class="slideTitleElement companyLogo" src="./photos/cv_logo-01.png" alt="Logo" />
            <p class="slideTitleElement companyElement">CV.ee</p>
            <p class="slideTitleElement activityElement">#tunnustakolleegi</p>
            -->
        </div>
        <div class="stepNumber" align="center">Шаг 1/5</div>
        <div class="actionText" align="center">
            <p>Выбери подходящее сердце, нажав на стрелку вправо или влево.</p>
        </div>

        <div class="templateSection" align="center">
            <div id="carouselSection" class="carousel slide carouselContent carouselSectionFun" data-ride="carousel" data-interval="false" style="display: none;">
                <div class="carousel-inner carousel-fun">
                    {% for i in 1..count_lobus-1 %}
                        {% if i == 1 %}
                            <div class="carousel-item active ">
                                <div class="imageContainer">
                                    <img id="" class="imageContainer" src="{{ files_lobus[i]|theme }}" alt="picture" class="img-responsive" name=""/>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <div class="imageContainer">
                                    <img id="" class="imageContainer" src="{{ files_lobus[i]|theme }}" alt="picture" class="img-responsive" name=""/>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <p class="carousel-control-prev fun-control-prev" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </p>
                <p class="carousel-control-next fun-control-next" href="" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </p>
            </div>

            <div id="carouselSection" class="carousel slide carouselContent carouselSectionElegant" data-ride="carousel" data-interval="false" style="display: none;">
                <div class="carousel-inner carousel-elegant">
                    {% for i in 1..count_elegant-1 %}
                        {% if i == 1 %}
                            <div class="carousel-item active ">
                                <div class="imageContainer">
                                    <img id="" class="imageContainer" src="{{ files_elegantne[i]|theme }}" alt="picture" class="img-responsive" name=""/>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <div class="imageContainer">
                                    <img id="" class="imageContainer" src="{{ files_elegantne[i]|theme }}" alt="picture" class="img-responsive" name=""/>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <p class="carousel-control-prev elegant-control-prev" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </p>
                <p class="carousel-control-next elegant-control-next" href="" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </p>
            </div>

        </div>
        <div class="buttonDivTemplate" align="center">
            <p>Нажми на одну из кнопок, чтоб выбрать элегантный или веселый дизайн</p>
            <div>
                <button id="elegantDesign" type="button" class="templateSelection selected">Элегантный дизайн</button>
                <button id="funDesign" type="button" class="templateSelection">Веселый дизайн</button>
            </div>
        </div>
        <div class="buttonDiv">
            <button id="2" type="button" class="forwardButton generateCanvas">Продолжить</button>
        </div>
    </div>

    <div class="mySlides ">
        <div class="slideTitle" align="center">
            <img class="bannerElement" src="{{ '/assets/images/kuldsuda_logo-01.svg'|theme }}" alt="Logo" />
            <!--
            <img class="slideTitleElement companyLogo" src="./photos/cv_logo-01.png" alt="Logo" />
            <p class="slideTitleElement companyElement">CV.ee</p>
            <p class="slideTitleElement activityElement">#tunnustakolleegi</p>
            -->
        </div>
        <div class="stepNumber" align="center">Шаг 2/5</div>
        <div class="actionText" align="center">
            <p>Напиши название предприятия, где работает человек, которого ты хочешь наградить</p>
            </p>
        </div>
        <div class="contentSection" align="center">
            <input type="text" class="form-group companyInput borderStyle" maxLength="22" placeholder="Название предприятия"/>
            <div class=" inputNote">
                <p>Максимальное кол-во знаков – 22</p>
            </div>
        </div>
        <div class="buttonDiv">
            <button id="3" type="button" class="forwardButton addCompanyName">Продолжить</button>
        </div>
    </div>

    <div class="mySlides ">
        <div class="slideTitle" align="center">
            <img class="bannerElement" src="{{ '/assets/images/kuldsuda_logo-01.svg'|theme }}" alt="Logo" />
            <!--
            <img class="slideTitleElement companyLogo" src="./photos/cv_logo-01.png" alt="Logo" />
            <p class="slideTitleElement companyElement">CV.ee</p>
            <p class="slideTitleElement activityElement">#tunnustakolleegi</p>
            -->
        </div>
        <div class="stepNumber" align="center">Шаг 3/5</div>
        <div class="actionText" align="center">
            <p>Напиши имя человека, которого хочешь наградить золотым сердцем</p>
        </div>
        <div class="contentSection" align="center">
            <input type="text" class="form-group nameInput borderStyle" maxLength="24" placeholder="Имя и фамилия"/>
            <div class=" inputNote">
                <p>Максимальное кол-во знаков – 24</p>
            </div>
        </div>
        <div class="buttonDiv">
            <button id="4" type="button" class="addPersonName">Продолжить</button>
        </div>
    </div>

    <div class="mySlides ">
        <div class="slideTitle" align="center">
            <img class="bannerElement" src="{{ '/assets/images/kuldsuda_logo-01.svg'|theme }}" alt="Logo" />
            <!--
            <img class="slideTitleElement companyLogo" src="./photos/cv_logo-01.png" alt="Logo" />
            <p class="slideTitleElement companyElement">CV.ee</p>
            <p class="slideTitleElement activityElement">#tunnustakolleegi</p>
            -->
        </div>
        <div class="stepNumber" align="center">Шаг 4/5</div>
        <div class="actionText" align="center">
            <p>Спасибо! Готовую награду увидишь, нажав на кнопку “Сгенерировать награду</p>
            <p>
                Участвуй в выборах <mark class="textMarker">ЗОЛОТОГО СЕРДЦА ГОДА</mark>. Для этого тебе нужно написать в эту графу,
                почему награждённый достоин этого титла, а также добавить свою электронную почту в нижнюю графу.
            </p>
        </div>
        <div class="contentSection textAreaSection" align="center">
            <textarea rows="4" cols="50" class="form-group titleOf textAreaInput borderStyle" maxLength="200"></textarea>
            <div class=" inputNote">
                <p>Максимальное кол-во знаков – 200</p>
            </div>
        </div>
        <div class="creatorActionText" align="center">
            <input type="text" class="form-group creatorInput borderStyle" maxLength="40" placeholder="Твоя электронная почта"/>
            <div class=" inputNote">
                <p>Максимальное кол-во знаков – 40</p>
            </div>
        </div>
        <div class="generateCheckBoxSection" align="center">
            <input id="confirmationCheckboxSlide" type="checkbox" class="" />
            <p>Я ознакомлен с тем, что CV.ee использует мою электронную почту для предоставления информации связанной с компанией “Золотое сердце”.</p>
        </div>
        <div class="buttonDiv">
            <button id="5" type="button" class="generatePicture">Сгенерировать призвание</button>
        </div>
    </div>

    <div class="mySlides ">
        <div class="slideTitle" align="center">
            <img class="bannerElement" src="{{ '/assets/images/kuldsuda_logo-01.svg'|theme }}" alt="Logo" />
            <!--
            <img class="slideTitleElement companyLogo" src="./photos/cv_logo-01.png" alt="Logo" />
            <p class="slideTitleElement companyElement">CV.ee</p>
            <p class="slideTitleElement activityElement">#tunnustakolleegi</p>
            -->
        </div>
        <div class="stepNumber" align="center">Шаг 5/5</div>
        <div class="actionText" align="center">
            <p>
                Теперь удиви получателя Золотого сердца и сделай публикацию на его стене в Facebook'е.
            </p>
        </div>
        <div class="photoSection finishSection" align="center">

        </div>
        <div class="facebookTutorialDiv" align="center">
            <img class="facebookTutImg" src="{{ '/assets/images/imago_jaga_ajajoonel_uus_1.svg'|theme }}"/>
            <p class="tutorialText">
                NB! Когда вы открываете окно для публикации в Facebook,
                выберите «Поделитесь в хронике друга» в раскрывающемся
                меню и отметьте имя человека, которого хотите наградить.
            </p>
        </div>
        <div class="buttonDivShare">
            <button id="shareToFacebook" type="button" class="shareButton">Наградить в Facebook</button>
            <button id="sendEmailModal" type="button" class="shareButton" data-toggle="modal" data-target=".sendEmailModal">Наградить по почте</button>
        </div>
    </div>

    <div class="mySlides orderSlide">
        <div class="slideTitle" align="center">
            <img class="bannerElement" src="{{ '/assets/images/kuldsuda_logo-01.svg'|theme }}" alt="Logo" />
            <!--
            <img class="slideTitleElement companyLogo" src="./photos/cv_logo-01.png" alt="Logo" />
            <p class="slideTitleElement companyElement">CV.ee</p>
            <p class="slideTitleElement activityElement">#tunnustakolleegi</p>
            -->
        </div>
        <div class="stepNumber" align="center"></div>
        <div class="actionText" align="center">
            <p>CV.ee от всего сердца благодарит тебя за то, что нашел время для награждения!
            </p>
        </div>
        <div class="photoSection" align="center">
            <img class="imageContainer" src="{{ '/assets/images/1200x628px_imago_uus_loos-02.svg'|theme }}" alt="" />
        </div>

        <div class="fbShareDiv">
            <div class="fb-like" data-href="https://www.facebook.com/cvonlineestonia"
                 data-layout="standard" data-action="like" data-size="large" data-show-faces="true"
                 data-share="true"></div>
        </div>
        <div class="buttonDiv">
            <button id="generateNew" type="button" class="finishButton">Наградить следующего человека!</button>
            <!--<button id="checkJobOffers" type="button" class="finishButton">Vaata tööpakkumisi</button>-->
        </div>
        <div class="footerDiv">
            <a href="https://www.cv.ee/toopakkumised">
                <img class="imageContainer" src="{{ '/assets/images/FooterImage.jpg'|theme }}" alt="" />
            </a>
        </div>
    </div>

</div>

<br>

<div style="display: none;">
    <canvas id="templateCanvas"></canvas>
</div>

<div class="modal fade sendEmailModal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Отправить письмо</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="senderName" name="senderName" type="text" class="borderStyle modalInput" maxLength="40" placeholder="Твои имя и фамилия"/>
                <input id="senderEmail" type="text" class="borderStyle modalInput" maxLength="40" placeholder="Твой электронный адрес"/>
                <input id="receiverEmail" type="text" class="borderStyle modalInput" maxLength="40" placeholder="Электронный адрес коллеги"/>
                <textarea id="messageBody" class="borderStyle modalTextArea" maxLength="200" placeholder="Напиши сюда письмо"></textarea>
                <div class="checkBoxSection">
			  <span>
			    <div>
				  <input id="confirmationCheckbox" type="checkbox" class="" />
			    </div>
				<div>
				  <p>Я ознакомлен с тем, что CV.ee использует мою электронную
				     почту для предоставления информации связанной с компанией “Золотое сердце”.
					 У CV.ee отсутствует право отправлять мои данные и данные коллеги третьим лицам.</p>
			    </div>
			  </span>
                </div>
            </div>
            <div class="modal-footer modal-footer-block" align="center">
                <button id="sendToEmail" type="submit" class="modalShareButton">Отправить письмо</button>
            </div>
        </div>
    </div>
</div>